# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*~


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
aw-entities/.factorypath
aw-entities/.classpath
aw-entities/.project
aw-entities/.settings/*
aw-entities/createDDL.jdbc
aw-entities/dropDDL.jdbc
aw-entities/*.iml
aw-entities/target/*

aw-support/.factorypath
aw-support/.classpath
aw-support/.project
aw-support/.settings/*
aw-support/*.iml
aw-support/target/*

aw-ui/nbproject/private/
aw-ui/package-lock.json


aw-services/*.iml
aw-services/.classpath
aw-services/.project
aw-services/.settings/*
aw-services/.idea/*
aw-services/target/*


aw-sales-services/*.iml
aw-sales-services/.classpath
aw-sales-services/.project
aw-sales-services/.settings/*
aw-sales-services/.idea/*
aw-sales-services/target/*


aw-search-services/*.iml
aw-search-services/.classpath
aw-search-services/.project
aw-search-services/.settings/*
aw-search-services/.idea/*
aw-search-services/target/*


dev-stories/*.iml
dev-stories/.classpath
dev-stories/.project
dev-stories/.settings/*
dev-stories/.idea/*
dev-stories/target/*

test-app/**

Servers/**
RemoteSystemsTempFiles/**
/test-app/
/tutorial-react101/
